Source: kdeadmin
Section: kde
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>, Armin Berres <trigger+debian@space-based.de>, Matthew Rosewarne <mrosewarne@inoutbox.com>
Build-Depends: cdbs, debhelper (>= 5), cmake, quilt, kdepimlibs5-dev (>=4:4.0.0-1),
 docbook-to-man
Standards-Version: 3.7.3
Homepage: http://www.kde.org/

Package: kdeadmin
Section: kde
Architecture: all
Depends: kcron (>= ${source:Version}), knetworkconf (>= ${source:Version}),
 kpackage (>= ${source:Version}), kuser (>= ${source:Version})
Description: system administration tools from the official KDE 4 release
 KDE is produced by an international technology team that creates free and open
 source software for desktop and portable computing. Among KDE's products are a
 modern desktop system for Linux and UNIX platforms, comprehensive office
 productivity and groupware suites and hundreds of software titles in many
 categories including Internet and web applications, multimedia, entertainment,
 educational, graphics and software development.
 .
 This metapackage includes a collection of system administration tools
 provided with the official release of KDE 4.

Package: kcron
Section: admin
Architecture: any
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: program scheduler for KDE 4
 KCron is an application for scheduling programs to run at specific intervals
 using cron, the UNIX scheduling service.
 .
 This package is part of the KDE 4 administration module.

Package: knetworkconf
Section: kde
Architecture: any
Depends: ${shlibs:Depends}
Description: network configuration tool for KDE 4
 KNetworkConf is a system settings module to configure networking.
 It can be used to manage network devices, gateways, and host information.
 .
 This package is part of the KDE 4 administration module.

Package: kpackage
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, smartpm-core
Suggests: khelpcenter, rpm
Description: package management tool for KDE 4
 KPackage is a frontend to the SMART package manager, supporting Debian, RPM,
 and other package formats.  It can be used to search for, examine, install,
 and remove packages.
 .
 This package is part of the KDE 4 administration module.

Package: kuser
Section: admin
Architecture: any
Depends: ${shlibs:Depends}
Suggests: khelpcenter
Description: user and group administration tool for KDE 4
 KUser is an application for managing users and groups on your system.
 .
 This package is part of the KDE 4 administration module.

Package: kdeadmin-dbg
Section: libdevel
Architecture: any
Depends: kdebase-runtime-dbg
Suggests: kdeadmin (= ${source:Version})
Priority: extra
Description: debugging symbols for kdeadmin
 This package contains the debugging symbols associated with kdeadmin.
 They will automatically be used by gdb for debugging kdeadmin-related
 issues.
