#!/usr/bin/make -f

DEB_CMAKE_CUSTOM_FLAGS += -DINSTALL_SYSTEM_CONFIG_PRINTER:BOOL=TRUE

include /usr/share/pkg-kde-tools/qt-kde-team/1/debian-qt-kde.mk

binary-install/system-config-printer-kde::
	dh_pysupport -p$(cdbs_curpkg)
